@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300&display=swap');

*  {
    margin: 0;
    padding: 0;
    border: none;
}


body  {

    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: larger;
    font-weight: 300;
}

/* headings and logo */

h1, h2  {

    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 350%;
    color: #252525;
}

#logo  {
    display: grid;
    
}