@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300&display=swap');

html  {
  scroll-behavior: smooth;
}


*  {
    margin: 0;
    padding: 0;
    border: none;
}


body  {

    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: larger;
    font-weight: 300;
}


/* headings and logo */



.banner  {
    background-color: rgb(173, 11, 11);

}

h1  {
    
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 300%;
    color: rgba(247, 245, 243, 0.97);
}

h2   {
    font-family: Teko,sans-serif;
    font-size: 200%;
    color: #3a3a3a;
}

#title  {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5%;
}

#logo  {
    padding-left: 0.3%;
}

/* navigation bar */

#nav-bar  {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
}

#menu  {
    font-size: 120%;
    letter-spacing: 3px;
    position: absolute;
  top: 8px;
  right: 16px; 
}

#menu li  {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 13px;
}

#menu a  {
    color: rgba(247, 245, 243, 0.97);
    word-spacing: -3px;
    text-decoration: none;
}

/*  hero image */

#hero-outer  {
    height:260px;
    width: 100%;
    overflow: hidden;
}

#hero-image  {

    height:400px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center top;
    background-size: cover;

    /* animates zoom effect on homepage */

    animation-name: hero-zoom;
    animation-duration: 15s;
    animation-fill-mode: forwards;

}


/*  creates level of zoom for hero image */

/*@keyframes  hero-zoom  {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}  */

/*  Welcome section  */

#welcome  {
    width: 50%;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}

.center  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-heading  {
    margin: 3rem auto;
    font-size: 2.5rem;
    letter-spacing: 2px;
    width: 20rem;
    background-color: rgb(173, 11, 11);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #110202;
    color: rgba(247, 245, 243, 0.97);
}

/* Table styling */

table {
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
    font-size: 25px;
    width: 50%;
    margin: 25px 0;
    text-align: center;
    overflow: hidden;
  }

  tr  {
    border-bottom: 1px solid #d0cece;
  }

  tr:last-of-type  {
    border-bottom: 2px solid rgb(139, 23, 139);
  }

  tr:hover  {
    background-color: #ccc;
  }

  td, th  {
    position: relative;
  }

  td:hover::after,
  th:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(243, 243, 165);
  left: 0;
  top: -1000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

  .table-subheading  {
    padding-top: 10px;
  }
  
  
  th {
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    color: rgba(247, 245, 243, 0.97);
    background-color: rgb(139, 23, 139);
  }

  .win {
    color: rgb(86, 215, 86);
  }

  .loss  {
    color: rgb(227, 34, 34);
  }

  /* Player Focus section */

  .player-info  {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
  }

  #center-about  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  #circle-container  {
    width: 500px;
    height: 600px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 50%;
  }

  #circle-cover-bg  {
    background: url(../images/player-image.jpg) no-repeat center top;
    height: 100%;
    border-radius: 50%;
  }

  #circle-cover-bg:hover  {
    
    animation-name: player-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
  }
    @keyframes player-zoom  {

        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);}

        }

  #player-name  {
    display: flex;
    justify-content: center;
  }

  

  /* Contact form section */

  .contact-section {
    margin-top: 60px;
    background-color: #211f1f;
    color: rgba(247, 245, 243, 0.97);
    /* margin: 150px 10% 0 0; */
    /* max-width: 400px; */
    /* position: absolute; */
    /* left: 10%; */
    padding: 30px;
  }

  .contact-logo  {
    float: right;
    margin-top: 50px;
  }

  .contact-header  {
    font-size: xx-large;
  }

  .contact-sub-header  {
    font-size: larger;
  }

  form label  {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: x-large;
    font-weight: lighter;
  }

  .text-input  {
    width: 50%;
    height: 20px;
    border-radius: 25px;
  }

