@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300&display=swap');

*  {
    margin: 0;
    padding: 0;
    border: none;
}


body  {

    font-family: Oswald, sans-serif;
    color: #3a3a3a;
    font-size: larger;
    font-weight: 300;
}


/* headings and logo */

.banner  {
    background-color: rgb(173, 11, 11);
    
}

header a {
    text-decoration: none;
}

header nav  {
    text-decoration: none;
}

h1  {
    
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 300%;
    color: rgba(247, 245, 243, 0.97);
}

h2   {
    font-family: Teko,sans-serif;
    font-size: 200%;
    color: #3a3a3a;
}

#title  {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5%;
}

#logo  {
    padding-left: 0.3%;
}

/* navigation links */

#menu  {
    font-size: 120%;
    letter-spacing: 3px;
    position: absolute;
  top: 8px;
  right: 16px; 
}

#menu li  {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 13px;
}

#menu a  {
    color: rgba(247, 245, 243, 0.97);
    word-spacing: -3px;
}

/*  hero image */

#hero-outer  {
    height:260px;
    width: 100%;
    overflow: hidden;
}

#hero-image  {

    height:400px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center top;
    background-size: cover;

    /* animates zoom effect on homepage */
    animation-name: hero-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}


/*  creates level of zoom for hero image */

@keyframes  hero-zoom  {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}